In [1]:
import pandas as pd

In [2]:
housing_data = pd.read_csv('datasets/housing.csv')

In [3]:
housing_data.head()
# 社区数据

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [4]:
housing_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
longitude             20640 non-null float64
latitude              20640 non-null float64
housing_median_age    20640 non-null float64
total_rooms           20640 non-null float64
total_bedrooms        20433 non-null float64
population            20640 non-null float64
households            20640 non-null float64
median_income         20640 non-null float64
median_house_value    20640 non-null float64
ocean_proximity       20640 non-null object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [5]:
median = housing_data['total_bedrooms'].median()
housing_data = housing_data.fillna(median)

housing_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
longitude             20640 non-null float64
latitude              20640 non-null float64
housing_median_age    20640 non-null float64
total_rooms           20640 non-null float64
total_bedrooms        20640 non-null float64
population            20640 non-null float64
households            20640 non-null float64
median_income         20640 non-null float64
median_house_value    20640 non-null float64
ocean_proximity       20640 non-null object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [6]:
housing_data = housing_data.drop('ocean_proximity', axis=1)

In [7]:
housing_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 9 columns):
longitude             20640 non-null float64
latitude              20640 non-null float64
housing_median_age    20640 non-null float64
total_rooms           20640 non-null float64
total_bedrooms        20640 non-null float64
population            20640 non-null float64
households            20640 non-null float64
median_income         20640 non-null float64
median_house_value    20640 non-null float64
dtypes: float64(9)
memory usage: 1.4 MB

In [8]:

from sklearn.model_selection import train_test_split

train_set, test_set = train_test_split(housing_data, test_size=0.2, random_state=33)

In [9]:
y_train = train_set['median_house_value']
X_train = train_set.drop('median_house_value', axis=1)

y_test = test_set['median_house_value']
X_test = test_set.drop('median_house_value', axis=1)

from sklearn.linear_model import LinearRegression

lr = LinearRegression()

lr.fit(X_train, y_train)

from sklearn.metrics.regression import mean_squared_error

y_predict = lr.predict(X_test)

In [10]:
import numpy as np
print np.sqrt(mean_squared_error(y_test, y_predict))

69990.825384776152

In [11]:
from sklearn.preprocessing import StandardScaler

ss = StandardScaler()

X_train = ss.fit_transform(X_train)
X_test = ss.fit_transform(X_test)

In [13]:
lr = LinearRegression()

lr.fit(X_train, y_train)

from sklearn.metrics.regression import mean_squared_error


y_predict = lr.predict(X_train)

import numpy as np


print np.sqrt(mean_squared_error(y_train, y_predict))

y_predict = lr.predict(X_test)


print np.sqrt(mean_squared_error(y_test, y_predict))

69620.6890544
69901.4152052

In [14]:
from sklearn.tree import DecisionTreeRegressor

dtr = DecisionTreeRegressor()

dtr.fit(X_train, y_train)

y_predict = dtr.predict(X_train)

print np.sqrt(mean_squared_error(y_train, y_predict))

from sklearn.metrics.regression import mean_squared_error

y_predict = dtr.predict(X_test)

import numpy as np
print np.sqrt(mean_squared_error(y_test, y_predict))

0.0
79017.4707616